<html>
  <head>
    <title>JWT Authentication - pyFlask home assignment</title>
  </head>
  <body>
    <div>JWT Authentication - pyFlask home assignment: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>