{% extends "base.html" %}
{% block content %}
    <h1>Hi, {{ profile['full-name'] }}!</h1>
    <p>Your username is: {{profile.username}}</p>
    <p>Your email is: {{profile.email}}</p>
    <p>Your birthday is: {{profile.birthday}}</p>
{% endblock %}